<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <div class="container">
        <h5 class="my-3 border-bottom pb-2">과목 등록</h5>
        <form method="post" action="/second/course/save/"
            class="post-form my-3">
        {% csrf_token %}
    <div class="form-group">
        <label for="name">과목</label>
        <input type="text" class="form-control" name="name" id="name"
        value="{{ form.name.value | default_if_none:'' }}">
    <div class="form-group">
        <label for="cnt">수강인원</label>
        <input type="text" class="form-control" name="cnt" id="cnt"
        value="{{ form.cnt.value | default_if_none:'' }}">
    </div>
        <input type="submit" value="등록" class='btn btn-primary'>
        </form>
    </div>



    {% comment %} <form action="/second/course/save/" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Submit">
</form> {% endcomment %}